**/.git
.DS_Store
*.dylib
*.DSYM
*.d
*.pyc
*.pyo
.*.swp
.*.swo
.*.un~
*.tmp
*.o
*.o-*
*.os
*.os-*

venv/
.venv/
.ai/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.sconsign.dblite
compile_commands.json
selfdrive/ui/ui
tools/cabana/cabana
